<a href="https://colab.research.google.com/github/Jaeek27/Data-Science-Projects/blob/main/NN_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Real estate valuation data set

In [ ]:
## Neural Network 
INput layer size = 5 
2 hidden layers each with 100 nodes ( Relu Activation function )
Output layer with single unit ( summation function)
Regression problem 
Learning rate = 0.001
No of epochs = 300 ( no of times we pass the entire data set through network)
Adam Solver 
Loss / cost function =mean square error ( MSE)

In [ ]:
import numpy as np

In [ ]:
import pandas as pd

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neural_network import MLPRegressor

In [ ]:
from sklearn.metrics import mean_squared_error, mean_absolute_error
from matplotlib import pyplot as plt

In [ ]:
re = pd.read_excel("/content/Real estate valuation data set.xlsx")
re.shape

(414, 8)

In [ ]:
re.head()

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,1,2012.916667,32.0,84.87882,10,24.98298,121.54024,37.9
1,2,2012.916667,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,2013.583333,13.3,561.98450,5,24.98746,121.54391,47.3
3,4,2013.500000,13.3,561.98450,5,24.98746,121.54391,54.8
4,5,2012.833333,5.0,390.56840,5,24.97937,121.54245,43.1

In [ ]:
X = re.iloc[:,2:-1]
Y = re.iloc[:,-1]
Y = np.ravel(Y)

In [ ]:
Xtrain,Xtest,Ytrain,Ytest = train_test_split(X,Y,random_state = 1)

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(Xtrain)
Xtrain = scaler.transform(Xtrain)
Xtest = scaler.transform (Xtest)

In [ ]:
NN = MLPRegressor (max_iter =300, activation ='relu', hidden_layer_sizes = (100,100))

In [ ]:
MLPRegressor?

In [ ]:
# Fitting the model 
NN.fit(Xtrain,Ytrain)

/usr/local/lib/python3.8/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:692: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (300) reached and the optimization hasn't converged yet.
  warnings.warn(

MLPRegressor(hidden_layer_sizes=(100, 100), max_iter=300)

In [ ]:
# Predict 
NN_pred = NN.predict(Xtest)

In [ ]:
print("MSE:",mean_squared_error(Ytest,NN_pred))
print("MAE:",mean_absolute_error(Ytest,NN_pred))

MSE: 43.29616474563564
MAE: 5.059190591411853